.mainContainer {
    margin-top: 2rem;
}

.statisticsTable {
    background-color: #f8df8c;
    border-collapse: collapse;
    border-radius: 0.8rem;
    width: 400px;

}


.statisticsTable td {
    padding: 0.7rem 1rem;
    text-align: left;
    font: 400 1.1rem Roboto;
}

.heading {
    font: 700 1.5rem Raleway;
    margin-bottom: 1.5rem;
}

.statisticsTable tr:first-child td {
    padding-top: 1.2rem;
}

.statisticsTable tr:last-child td {
    padding-bottom: 1.2rem;
}

@media screen and (max-width : 450px) {
    .statisticsTable {
        width: 100%;
    }
}